* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header Styles */
#header {
    width: 100%;
    height: 100vh;
    background-image: url('Snapchat-2081574159 copy.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px;
}

.logo {
    width: 140px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #e7e7f1;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    transition: color 0.5s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: beige;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Header Text Styles */
.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
}

/* About Section Styles */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-image {
    width: 100%;
    max-height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
}

.about-col-2 {
    /* Add styles for the text here */
}

/* Tab Styles */
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: blanchedalmond;
}

.tab-titles {
    display: flex;
    margin: 20px 0;
}

.tab-lnks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-lnks::after {
    content: '';
    width: 0;
    height: 3